@model FSPACERFINAL.Models.ActiveSearchModel
@{
    ViewData["Title"] = "SearchActive";
}

<h2>Search Active</h2>
<form asp-controller="SpacerCards" asp-action="SearchActiveOutputs" method="post">
    <label asp-for="SearchActiveCards"></label>
    <input asp-for="SearchActiveCards" type="text" /><br />
    <input type="submit" value="submit" /><br />
</form>

